@page "/"
@inject NavigationManager navigationManager

<div class="container">
    <div class="row">
        <div class="centerlortet">
            <h1>Velkommen til <b>Zoo Tycoon</b></h1>
        </div>
    </div>  
</div>

<div class="container">
    <div class="row">
        <div class="col-6">            
            <button class="btn btn-primary" @onclick="test">Ny Zoo</button>
        </div>
        <div class="col-6">
            <button class="btn btn-primary" @onclick="test">Load Zoo</button>
        </div>
    </div>
</div>






@code {

    public string ID { get; set; }
    public void test()
    {

        navigationManager.NavigateTo("/NytNavn");
        //Guid obj = Guid.NewGuid();
    }
}