@page "/"
@inject NavigationManager navigationManager
@inject IJSRuntime JS

<div class="container">
    <div class="row">
        <div class="centerlortet">
            <h1>Velkommen til <b>Zoo Tycoon</b></h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-6">
            <button class="btn btn-primary" @onclick="NyZoo">Ny Zoo</button>
        </div>
        <div class="col-6">
            <button disabled="@IsDisabled" class="btn btn-primary" @onclick="ReadCookieAsync">Load Zoo</button>
        </div>
    </div>
</div>






@code {

    public string ID { get; set; }

    public bool IsDisabled = true; 

    public void NyZoo()
    {
        navigationManager.NavigateTo("/NytNavn");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        ID = await JS.InvokeAsync<string>("jvjBlazorExtensions.ReadCookie", "ZooId");
        if (!string.IsNullOrEmpty(ID))
        {
            IsDisabled = false;
        }
       
    }

    public async Task<string> ReadCookieAsync()
    {
        ID = await JS.InvokeAsync<string>("jvjBlazorExtensions.ReadCookie", "ZooId");
        if (!string.IsNullOrEmpty(ID))
        {
            navigationManager.NavigateTo("/Zoo/" + ID);
            return "OK";
        }
        return "NEJ";

    }

}