@page "/"

<h1>Hello, world!</h1>

@ID

<button @onclick="test">ID!</button>



@code {
    public string ID { get; set; }
    public void test()
    {
        Guid obj = Guid.NewGuid();
        ID = obj.ToString();
    }
}