@page "/NytNavn"
@inject ServiceLayer.servises.IZooService zooService
@inject NavigationManager navigationManager
@inject IJSRuntime JS
@using System.ComponentModel.DataAnnotations
<h3 class="text-center">Ny Zoo! 🐘</h3>

<div class="container">
    <div class="text-center">
        <h1>Velkommen</h1>
        <p>Du skal til at begynde din helt egen Zoo.</p>
        <p>Hvad skal navnet være på din zoo?</p>

        <input type="text" @bind="ZooNavn" />
        @if (!string.IsNullOrEmpty(ZooNavn))
        {
            <button class="btn btn-primary" @onclick="LavNyUser">Lav Zooen</button>
        }
    </div>
</div>



@code {
    [Required]
    public string ZooNavn { get; set; }


    public void LavNyUser()
    {
        Guid obj = Guid.NewGuid();
        var getNewUser = zooService.NewUser(ZooNavn, obj.ToString());
        if (getNewUser != null)
        {
            string sendId = getNewUser.UserId;
            JS.InvokeAsync<string>("jvjBlazorExtensions.WriteCookie", "ZooId", sendId);
            navigationManager.NavigateTo("/Zoo/" + sendId);
        }

    }
}
