@page "/zoo/{userId}"
@inject ServiceLayer.servises.IZooService zooService
@inject NavigationManager navigationManager
@OnInitializedAsync()
<h3>Zoo</h3>



@code {
    [Parameter]
    public string UserId { get; set; }

    public DataLayer.Entitys.User User { get; set; }

  
    protected override void OnInitialized()
    {
        User = zooService.LoadUser(UserId);
    }
}
